<%- include('../partials/cliente_header', { title: 'Cuenta', loggedIn: loggedIn }) %>
<main>
  <div class="cuenta-container">
    <div class="user-info">
      <h2>Nombre de usuario</h2>
      <p><%= usuario.nombre_completo %></p>
      <p>Saldo: <%= usuario.saldo %></p>
    </div>
    <div class="compras-section">
      <h2>Mis Compras</h2>
      <% compras.forEach(compra => { %>
        <div class="compra-item">
          <ul>
          <p>Nombre: <%= compra.nombre %></p>
          <p>Autor: <%= compra.autor %></p>
          <p>Precio: <%= compra.precio %></p>
          <p>Extensi贸n de archivo: <%= compra.tipo_archivo %></p>
          <p>Descripci贸n: <%= compra.descripcion %></p>
          <p>Fecha de Compra: <%= compra.fecha_compra %></p>
          <!-- Formulario para calificar -->
          <form action="/cliente/calificar" method="post">
            <input type="hidden" name="contenido_id" value="<%= compra.id %>">
            <label for="calificacion">Calificaci贸n (1-10):</label>
            <input type="number" name="calificacion" min="1" max="10" required>
            <button type="submit">Enviar Calificaci贸n</button>
          </form>
         </ul>
        </div>
      <% }); %>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
